body {
  font-family: "DM Sans";
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px 0 16px;
}

.cards {
  grid-template-areas:
    "a b c"
    "a d e";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 1em auto;
  grid-auto-rows: 1fr;

  & article:nth-child(n + 2) {
    padding-top: 110%;
    height: 100%;
  }
}

.card {
  position: relative;

  .content {
    position: absolute;
    padding: 0.7rem;
    bottom: 0;
    width: 100%;

    .top-story-title {
      text-transform: none;
    }

    .find-out-more {
      font-weight: 700;
    }

    .article-title {
      a {
        text-decoration: none;
      }
    }

    & div {
      margin-bottom: 5px;
    }
  }
}

#article-1 {
  grid-area: a;
}

#article-2 {
  grid-area: b;
}

#article-3 {
  grid-area: c;
}

#article-4 {
  grid-area: d;
}

#article-5 {
  grid-area: e;
}

.thumb-image {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.date-posted {
  display: flex;
  align-items: center;

  .calendar-icon {
    margin-right: 5px;
  }
}

.pull-top {
  top: 0;
}

.object-bottom {
  object-position: bottom;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #00000021;
  // background: linear-gradient(0.39turn, #fff0, #00000024, #000);
}

.bottom-text {
  position: absolute;
  bottom: 0.625rem;
}

.background-navy {
  background: hsl(212deg 27% 37%);
  color: #fff;

  a {
    color: #fff;
  }
}

.background-yellow {
  background-color: hsl(45deg 91% 66%);
  color: #000;

  a {
    color: #000;
  }
}

.background-blue {
  background-color: hsl(211deg 56% 15%);
  color: #fff;

  a {
    color: #fff;
  }
}

.top-story {
  color: #fff;

  a {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .card {
    .content {
      font-size: 12px;
    }
  }

  .cards {
    grid-template-areas:
      "a a"
      "b c"
      "d e";
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .pull-top {
    top: 0;
  }

  .cards {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 290px) {
  .bottom-relative-text {
    position: relative;
    bottom: auto;
  }

  #article-2,
  #article-5 {
    .pull-top {
      top: auto;
    }
  }
}
